@media screen and (max-width: 720px) {
    h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
}
}

body{
    text-align: center;
}
.container{
    width: 63vh;
    height: 63vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
}

.container div{
    width: 20vh;
    height: 20vh;
    border: solid .2px yellow;
    background-color:green;
    background-size: cover;
}
